version: "3.9"
services:
  csv:
    container_name: csv
    build: .
    ports:
      - "8081:8081"
    depends_on:
      - postgres

  postgres:
    container_name: pg
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: micro
      POSTGRES_USER: root
      POSTGRES_PASSWORD: secret
    volumes:
      - ./data:/var/lib/postgresql/data/
      - ./initdb.d:/etc/postgresql/
    ports:
      - "5432:5432"
    restart: always
    networks:
      - app_network
    command: ["postgres", "-c", "config_file=/etc/postgresql/postgresql.conf"]

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./monitor/prometheus/promehteus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - 3000:3000
    env_file:
      - ./monitor/grafana/grafana.env

networks:
  app_network:

volumes:
  data:
